body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: 2px solid #222;
  box-shadow: 0 0 40px #00ffff33;
}
